@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #C44E2C;
  --secondary-color: #A76655;
  --tertiary-color: #007DA1;
  --neutral-color: #85736F;
  --light-bg: #FAF6F1;
  --text-dark: #1A1A1A;
  --border-color: #EAE2D8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FBF7F2;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--text-dark);
  line-height: 1.5;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  color: var(--text-dark);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  display: block;
}

button {
  font-family: inherit;
}

.container {
  width: 100%;
}
